body{background: #ECECEC url(img/noise.png);
       font-family: 'Rubik', sans-serif;
    color:#333}
h1,h2,h3,h4,h5{font-family: 'Playfair Display', serif;
color:#333}

a{
    text-decoration: none;
    color:#252525;
}


img{
    width: 80%;
}